#pre_process{
  vertical-align: middle !important;
  text-align: center;
  width: 100%;
  background-color: #E8EEF2;
}
.dataTables_scrollHeadInner{
  width: 100% !important;
}
table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}

#pres_table{
  background: #ffffff !important;
  color: #000000 !important;
}
#reg_buttons{
  max-height: 300px;
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
}
.sample{
  max-height: 50%;
  overflow: auto;
}
.pharm{
  padding: 20px;
  font-size: 20px;
  background-color: #00cdc2;
}
.pharm > .modal-body > label {
  color: black;
}

.full-btn{
  width: 100%;
}
.fileContainer{
  
}
.fileContainer {
    text-align: left;
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    /*text-align: right;*/
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    
}

.pad1{
  padding-bottom: 10px;
}

.fileContainer [type=file] {
    cursor: pointer;
}
.navbar{
  background-color: #2B3643 !important;
}
.navbar .btn{
  margin-left: 20px;
  background-color: inherit;
}
.navbar-right{
  margin-right: 20px;
}
.header_panel{
  border-style: solid;
  border-width: 0px;
  position: absolute;
  left: 0px;
  background-color: #364051;
  /*padding: 10px;*/
  width: 180px;
  height: 90%;
  text-align: left;

}
.header_panel a{
  margin-left: 0px;
  margin-top : 20px;
  color: #fff;
}
.header_panel ul{
  /*margin-left: 15px;*/
  padding: 10px;
}
.header_panel li{
  padding: 10px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #3D4A5E;
  color: #fff;
}
.right_not_pan{
  text-align: center;
  border-style: inset;
  position: absolute;
  right: 0px;
  background-color: #364051;
  /*top: 200px;*/
  color: #fff;
  /*padding: 10px;*/
  width: 180px;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: none;
}
.left_not_pan h4{
  font-weight: 500; 
}
.noti{
  margin: 5px 5px 5px 5px;
  background-color: #f7f7f7;
  border-style: solid ;
  border-radius: 10px;
}

input[type=search]{
  border-radius: 30px;
  outline-style: none !important;
}
select{
 border-radius: 20px; 
 outline-style: none !important;
}
.left_pan{
  height: 75%;
  /*width: 20%;*/
}
.comments{
  max-height: 50%;


  
  

  /*width: 20%;*/
}

.boxs{
  margin : 20px 20px 20px 20px; 
  padding: 20px;
  border-width: 2px;
  border-radius: 20px;
  border-style: inset;
  height: 80px;
  background-color: #fff;
}
.select_box{
  border-radius: 10px;
}

.big-button{
  margin-left: 80px;
  /*margin-top: 100px;*/
  font-size: 25px;
  width: 230px;
  height: 70px;
}
.container{
  margin-top: 10px;
}
.comment{
  max-height: 25%;
  overflow-y: auto;
  text-align: left;
  line-height: 0.9em;
}
.modal-header{
    background-color: #6C9841;
}
.modal-title{
    font-weight: 500;
    color: #fff;
    font-family: 'ariel';
}
.modal-body{
    color: #000;
}
.right-side{
  margin-left: 50px;
}
.left-side{
  margin-right: 50px;
}
span{
  font-size: 15px;
  margin-left: 10px;
}
.head{
  font-weight: 600;
  font-size: 20px;
  height: 20px;
}
.patient{
  padding: 30px;
  
}

.pad{
  padding: 40px;
}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  /*background-color: #343225;*/
  /*color: #fff;*/
  font-weight: 700;
  outline-style: none !important;
}

.big-btn{
  width: 100%; margin-bottom: 20px;height: 50px;
}

.table{
  text-align: center;

}

tr {
  text-align: center;
}

tbody tr:hover{
  transform: scale(0.98);
}

tbody {
  margin-top: 10px;
  margin-bottom: 10px;
}

th{
  text-align: center;
  border-radius: 5px;
}
.req th{
  background-color: #F3F3F3;
  color : #000;
}
.reqs{
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

/*.panel:hover{
  transform: scale(1.01);
}*/

.dropdown-toggle:hover{
  cursor: hand;
}
.box-card:hover{
  transform: scale(1.02);
  transform-style: preserve-3d;
}


.box-card{

  text-align: left !important;
  border-style: solid !important;
  border-width: 0px ;
  background-color: #ffffff !important;
  background-image: none !important;
  /*height: 150;*/
  /*width: 350;*/
  padding: 30px;
}

.panel{
  transform: scale(1.01);
  /*background-image: url(imgs/panel_img.jpg);*/
  
  background-color: #ffffff;
  border-radius : 20px;
  border-width: 2px;
  border-style: double ;
  border-color: #8cacc4;
  text-align: center;
  padding: 10px;
}
body,html{
  /*background-image: url(imgs/hosp.jpg);*/
  background-color: #ffffff;
   font-family: Tahoma;
   font-size: 14px;
    height: 100%;
    background-repeat: none;
  }
.dropdown-menu{
  background-color: #007D9D;  

}
.dropdown-menu > li >a{
  color: #fff;
}
thead{
  /*font-size: 20px;*/
  /*font-family: Tahoma*/
  border-radius: 20px;
  background-color: #167F92;
  color: #FFFFFF;
}

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

.navbar{
  color: #fff; margin-bottom: 0px;border-radius: 0px;background-color: #2E3F84;

}

/*.navbar li:
hover{
  transform: scale(1.02);
  
}*/
/*ul.nav a:hover { background-color: #aaaaaa !important; }*/

/*
 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  */
.prof_head{
  /*color: #FFFFFF;*/
}
.prof_body{
  font-weight: 600;
  font-size: 15px;
}
body{


    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
td{
  vertical-align: middle !important;
  color: #000;
	font-size: 15px;
	font-family: 'montreal';
	font-weight: 400;
}
.panel{
  background : linear-gradient(50deg, #63b36f 10%, #63b36f 10%, #49a3c5 30%);
	margin-top: 10px;
}
.dLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    height: 100%;
    padding: 20px 20px;
}
.d-gray-sec{
    text-align: left;
    border-left: 1px solid #f3f3f3;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 5px;
    max-width: 500px;
}
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
    
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .invoice-box table tr.information table td {
        padding-bottom: 10px;
    }
    
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    
    .rtl table {
        text-align: right;
    }
    
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
.row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
.navbar-nav>li>a{
  color: #fff;
  font-weight: 600;
}
.navbar-brand{
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
